.App {
    display: block;
    /*background-image: linear-gradient(to bottom,*/
    /*rgba(30, 30, 30 , 0.9) 0%,*/
    /*rgba(42, 42, 42, 0.5) 100%),*/
    /*url('./images/abstract.jpg');*/
    /*background-color: #3B3B3B;*/
    /*https://pixabay.com/get/53e7d44a4850ad14f6d1867dda293e7f153cdfe4554c704f752a7fd0934dc35a_1920.jpg*/
  /*https://pixabay.com/get/52e9d741495aa814f6d1867dda293e7f153cdfe4554c704f752a7fd09344c25e_1920.jpg*/

}
.newsFeed{
    /*width: 100%;*/
    height: 50px;
    padding-top: 75px;
    border-bottom: 1px solid  rgba(129, 129, 129, 0.2);
    background-color: rgba(29, 29, 29, 0.4);
}




